# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio
*.sln
*.vcxproj
*.vcxproj.*
*.rc
*.make
.vs
obj
*.exp
*.ilk
*.pdb

#XCode
emptyExample.png
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.xcscheme
*.plist
Makefile
*.xcconfig
*.DS_Store

#Linux
*.qbs.user
*.qbs
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
*.aps
*.lastcodeanalysissucceeded

*.xcsettings

emptyExample.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
emptyExample.xcodeproj/project.xcworkspace/xcuserdata/travisolmstead.xcuserdatad/WorkspaceSettings.xcsettings
emptyExample.xcodeproj/xcuserdata/travisolmstead.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

